extends layout.jade

block content
    //include splash.jade

    #app.app-js
        .navbar.navbar-inverse
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-inverse-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand Dungeon Revealer
                
            #bs-example-navbar-collapse-2.collapse.navbar-collapse
              form.navbar-form.navbar-left(role='search')
                button#btn-new-map.btn.btn-default(type='button') New Map
        #upload-wrapper
          form#upload.dropzone

        #map-wrapper
        #dm-toolbar.toolbar-wrapper
            .btn-toolbar
                .btn-group
                    a#btn-shroud-all.btn.btn-default Shroud All
                    a#btn-clear-all.btn.btn-default Clear All
                .btn-group
                    a#btn-toggle-brush.btn.btn-default Shroud Brush
                    a#btn-shrink-brush.btn.btn-default Shrink Brush
                    a#btn-enlarge-brush.btn.btn-default Enlarge Brush
                    a#btn-shape-brush.btn.btn-default Square Brush
                .btn-group
                    a#btn-send.btn.btn-default Send
        ul#messages


block js
    script(data-main='/javascripts/dm-app.js', src='/javascripts/require.js')
