@font-face {
    font-family: "folkard";
    src: url("/fonts/folkard.woff") format('woff');
}

@font-face {
    font-family: "perigord";
    src: url("/fonts/perigord.woff") format('woff');
}

@font-face {
    font-family: "cardinal";
    src: url("/fonts/cardinal.woff") format('woff');
}


@font-face {
    font-family: "KnightsTemplar";
    src: url("/fonts/KnightsTemplar.woff") format('woff');
}

#dmCanvas {
  opacity: 0.5;
}

#preview {
  float: right;
}

#app {
  display: none;
}

.splash {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-image: url('/images/DungeonEntranceMedium.jpg');
  /*background-size: cover;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.title-text {
  margin-top: 10%;
  margin-left: 10%;
  color: white;
  font-family: folkard, palitino, serif;
  font-size: 600%;
}

.auth-container {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

.glass {
  color: white;
  font-family: perigord, palitino, serif;
  border: none;
  background-position: center;
}

.glass::-webkit-input-placeholder {
  color: white !important;
  font-family: perigord, palitino, serif;
  font-size: 150%;
  text-transform: uppercase;
}
.glass::-moz-placeholder {
  color: black !important;
  font-family: KnightsTemplar, palitino, serif;
}
.glass:-moz-placeholder {
  color: black !important;
  font-family: KnightsTemplar, palitino, serif;
}
.glass:-ms-input-placeholder {
  color: black !important;
  font-family: KnightsTemplar, palitino, serif;
}
.glass::input-placeholder {
  color: black !important;
  font-family: KnightsTemplar, palitino, serif;
}

@media (max-width:480px) {
  .title-text {
    font-size: 20vw;
  }
}

