@font-face {
  font-family: "folkard";
  src: url("/fonts/folkard.woff") format("woff");
}

@font-face {
  font-family: "KnightsTemplar";
  src: url("/fonts/KnightsTemplar.woff") format("woff");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#root {
  height: 100%;
  overflow: hidden;
}

#dm-link {
  position: absolute;
  bottom: 10%;
  right: 4%;
  color: white;
  font-family: folkard, cardinal, palitino, serif;
  font-size: 150%;
}

#dm-toolbar {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.toolbar-wrapper {
  pointer-events: none;
}

.toolbar-wrapper > * {
  pointer-events: all;
}

.btn-toolbar {
  display: inline-block;
}

.splash {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-image: url("/images/DungeonEntranceMedium.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.title-text {
  margin-top: 10%;
  margin-left: 10%;
  color: white;
  font-family: folkard, palitino, serif;
  font-size: 600%;
}

@media (max-width: 480px) {
  .title-text {
    font-size: 20vw;
  }
}
